gunicorn==19.9.0
requests==2.20.0
pandas
bokeh==2.1
dill
flask
jinja2
pip
simplejson
pandas
nltk
statsmodels
numpy
spacy==2.3.0
scikit-learn
wtforms
pyenchant
sqlalchemy
scipy
nltk
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.3.0/en_core_web_lg-2.3.0.tar.gz#egg=en_core_web_lg
matplotlib
