<!DOCTYPE HTML>

<html>
<head>
	<title>Board Game App</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.1.1.min.js"
	crossorigin="anonymous"></script>
	<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.1.1.min.js"
	crossorigin="anonymous"></script>
	<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.1.1.min.js"
	crossorigin="anonymous"></script>
	<style>
	body {
		padding-top: 70px;
		overflow:visible;
	}
	.container-fluid {
		padding-right:0;
		padding-left:0;
		margin-right:0;
		margin-left:0;
		width: 100%
	}
	.container {
		max-width: 1700px;
	}
	.page {
		overflow: visible;
	}

	form {
		margin: 0 auto;
		max-width: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	input {
		font-size: 28px;
		margin-top: 20px;
	}
	</style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-1">
				<span class="sr-only">Toggle navigation</span>
			</button>
			<span class="navbar-brand">Board Game Description App</span>
		</div>

		<div class="collapse navbar-collapse" id="nav-1">
			<ul class="nav navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="{{ url_for('index') }}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('graphs',w1='Dinosaurs') }}">Theme Search</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('contacts') }}">About Me</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://github.com/amlarge/flask-framework">GitHub Repo</a>
				</li>

			</div>
		</nav>

			<div class="container">
				<div class="jumbotron">
					<h1>Board Game Theme Search</h1>
					<h2>An app to search through game themes/genres on <a href="http://www.boardgamegeek.com">BoardGameGeek.com</a> </h2>
					<p><h2> Not sure where to begin? Here are some themes that have been hot recently: </h2>
						<div class="row">
							<div class="col-lg-4 text-left", style="background-color: #ffffff;padding:8px;border-radius:8px;">
								<p><img src="https://cf.geekdo-images.com/itemrep/img/8izilUtCMcX2OpsJ1wRKTCwGnik=/fit-in/246x300/pic3048690.jpg"><p><a href="{{ url_for('graphs',w1='Gardening') }}">Gardening</a></p>
							</div>
							<div class="col-lg-4 text-left", style="background-color: #ffffff;padding:8px;border-radius:8px;">
								<p><img src="https://cf.geekdo-images.com/itemrep/img/u3xLien-i-nOql7ePh8m4FhHbWM=/fit-in/246x300/pic4582151.jpg"><p><a href="{{ url_for('graphs',w1='Cthulhu Mythos') }}">Cthulhu Mythos</a></p>
							</div>
							<div class="col-lg-4 text-left", style="background-color: #ffffff;padding:8px;border-radius:8px;">
								<p><img src="https://cf.geekdo-images.com/itemrep/img/OEIIISWeTFkcM0XU0HRL-WZlozI=/fit-in/246x300/pic3652437.jpg"><p><a href="{{ url_for('graphs',w1='Art') }}">Art</a></p>
							</div>
						</div>

							<div class="row">
								<div class="col-lg-4 text-left", style="background-color: #ffffff;padding:8px;border-radius:8px;">
									<p><img src="https://cf.geekdo-images.com/itemrep/img/pdfQvEYy3V-K0myNBCLH5svaiZA=/fit-in/246x300/pic2338267.jpg"><p><a href="{{ url_for('graphs',w1='Mesopotamia') }}">Mesopotamia</a></p>
								</div>
								<div class="col-lg-4 text-left", style="background-color: #ffffff;padding:8px;border-radius:8px;">
									<p><img src="https://cf.geekdo-images.com/itemrep/img/aOKmJu7AV201mHaFUtd3VUDBKtU=/fit-in/246x300/pic4143114.jpg"><p><a href="{{ url_for('graphs',w1='China') }}">China</a></p>
								</div>
								<div class="col-lg-4 text-left", style="background-color: #ffffff;padding:8px;border-radius:8px;">
									<p><img src="https://cf.geekdo-images.com/itemrep/img/HOUyaC-JSlwtiCCx_4IQkAxovCA=/fit-in/246x300/pic4421569.jpg"><p><a href="{{ url_for('graphs',w1='Mining') }}">Mining</a></p>
								</div>
							</div>

						</div>
					</div>




			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="static/js/scrolling-nav.js"></script>
			<script src="vendor/jquery/jquery.min.js"></script>
			<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

			<!-- Plugin JavaScript -->
			<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
		</body>
		</html>
